html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

nav {
    font-family: "Copernicus New Condensed", serif;
    font-size: large;
}

.carousel {
    margin: auto;
    width: 100%;
}

main {
    flex: 1;
    padding-inline: 10%;
}

.card{
    min-height: 430px;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: "Copernicus New Condensed", serif;
    font-size: 40px;    
}


.red {
    color: #4A0E0E;
}

.green {
    color: #556B2F
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #eee;
}

/* alterando configurações pré-settadas */

.btn-primary{
    background-color: #4A0E0E!important;
    border-color: #4A0E0E!important;
}